h1{
	font-size:30px;
	font-weight:bolder;
	background-color:rgba(2, 2, 2, 0.5);
	color: aliceblue;
	}
h2{
		font-size:20px;
	background-color:rgba(234,56,49,0.5);
	}
p{
	font-size:15px;
	background-color:rgb(156, 164, 211);
	line-height:45px;
	font-size: 20px;
}
body
{
	background-image:url("images/12.jpeg");
	background-position:center;
	background-size:900px 900px;
	background-image:linear-gradient(to right bottom,rgba(25,67,87,0.7),rgba(255,255,255,0.7)),url("images/18.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	
}
span
{
	background-color:pink;
}
